{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Cake Masoudi</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
  </head>
  <body>
    <header class="page-header">
      <div class="container">
        <h1><a href="/">Django Girls Blog Cake Masoudi</a></h1>
      </div>
    </header>
    <main class="container">
      <div class="row">
        <div class="col">
          {% for post in posts %}
          <article class="post">
            <time class="date"> {{ post.published_date }} </time>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
          </article>
          {% endfor %}
        </div>
      </div>
    </main>
  </body>
</html>

{% comment "" %}
<div class="w3-container w3-teal">
  <h1>Summer 2015</h1>
</div>

<div class="w3-row-padding w3-margin-top">
  <div class="w3-third">
    <div class="w3-card">
      <img src="{% static 'img/pic1.png' %}" style="width: 100%" />
      <div class="w3-container">
        <h5>5 Terre</h5>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card">
      <img src="{% static 'img/pic1.png' %}" style="width: 100%" />
      <div class="w3-container">
        <h5>Monterosso</h5>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card">
      <img src="{% static 'img/pic1.png' %}" style="width: 100%" />
      <div class="w3-container">
        <h5>Vernazza</h5>
      </div>
    </div>
  </div>
</div>

<div class="w3-row-padding w3-margin-top">
  <div class="w3-third">
    <div class="w3-card">
      <img src="{% static 'img/pic1.png' %}" style="width: 100%" />
      <div class="w3-container">
        <h5>Manarola</h5>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card">
      <img src="{% static 'img/pic1.png' %}" style="width: 100%" />
      <div class="w3-container">
        <h5>Corniglia</h5>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card">
      <img src="{% static 'img/pic1.png' %}" style="width: 100%" />
      <div class="w3-container">
        <h5>Riomaggiore</h5>
      </div>
    </div>
  </div>
</div>

{% endcomment %}
